.refresh-container {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: margin-top 0.5s;
  margin-bottom: -50px;

  .spinner {
    width: 30px;
    height: 30px;
    z-index: 5;
    transition: transform 0.5s;
    fill: #ffffff;
  }

  &.load-init {
    .spinner {
      * {
        fill: #ffffff;
      }
    }

    &::after {
      content: "";
      background-color: #0430e2;
      min-width: 50px;
      height: 50px;
      border-radius: 100%;
      position: absolute;
      z-index: 4;
      transition: 1.5s;
    }
  }

  &.load-start {
    .spinner {
      animation: spin 0.5s linear infinite;
      * {
        fill: #ffffff;
      }
    }

    &::after {
      content: "";
      background-color: transparent;
      transform: scale(50);
      z-index: 999;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
